{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <h3>Welcome in Statmaster</h3>
    <p>Your website where u can improve your team by comparing game statistic</p>
{% endblock %}
