{% extends 'base.html.twig' %}

{% block title %}Game Events{% endblock %}

{% block body %}
    <h2>Game events list</h2>
    <h5 class="font-weight-normal">Select event to view ranking</h5>

    <table class="table table-hover" style="width: 80%; margin: auto">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        {% for game_event in game_events %}
            <tr class="clickable-row" style="cursor: pointer" data-href="{{ path('game_event_ranking',{'id': game_event.id}) }}">
                <th>{{ game_event.name }}</th>
                <td>{{ game_event.type }}</td>
                <th>{{ game_event.score }}</th>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
