{% extends 'base.html.twig' %}

{% block title %}GameEvent index{% endblock %}

{% block body %}
    <h2>Game events</h2>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th width="40%">Name</th>
                <th>Type</th>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game_event in game_events %}
            <tr>
                <th>{{ game_event.name }}</th>
                <td>{{ game_event.type }}</td>
                <td>{{ game_event.score }}</td>
                <td>

                    <a href="{{ path('game_event_show', {'id': game_event.id}) }}">
                        <button class=" btn btn-primary">Show</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
