{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h2>Create new Game</h2>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('game_index') }}">
        <button class="btn btn-primary">Back to list</button>
    </a>
{% endblock %}
